wasmtest1\target
wasmtest1\node_modules
wasmtest1\.vscode
wasmtest1\dist

wasmtest1/target
wasmtest1/node_modules
wasmtest1/.vscode
wasmtest1/dist
wasmtest1/pkg

customjs/target
customjs/node_modules
customjs/.vscode
customjs/dist
customjs/pkg

char/target
char/node_modules
char/.vscode
char/dist
char/pkg
char/package-lock.json
char/Cargo.lock